/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

body {
  font-size: 25px;
  background-color: #00CCFF;
}

li {
  list-style: none;
}

input {
  font-size: 25px;
}

li.card {
  background-color: white;
  border: solid black 3px;
  clear: both;
  float: left;
  margin: 3px;
  box-sizing: border-box;
}

.boards-index {
  position: relative;
}

.boards-index li {
  float: left;
  padding: 10px;
  border: solid black 2px;
  background-color: white;
}

ul#lists-index {
  position: relative;
}

ul#lists-index > li {
 float: left;
 border: solid black 5px;
 padding: 10px;
 margin: 10px;
 box-sizing: border-box;
}

ul.cards-index {
  min-height: 100px;
}

.boards-index:after, #lists-index:after {
  content: "";
  display: block;
  clear: both;
}
